{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>is completed</th>
                        </tr>
                    </thead>
                    {% for task in tasks %}
                        <tbody>
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>You have no tasks</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
